@page "/errorboundarytest"
<ErrorBoundary Context=ex>
     <ChildContent>
        <p>@(1/zero)</p>       
    </ChildContent>
    <ErrorContent>
       An error occured
       @ex.Message
    </ErrorContent>
</ErrorBoundary>
@code {
    int zero = 0;
}
