
@{
    Layout = "/Pages/shared/_Layout.cshtml";
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a test from a MVC controller</p>
</div>
<my-blazor-counter increment-amount="10"></my-blazor-counter>