@implements ILoginStatus
<AuthorizeView>
    <Authorized>
        <a href="authentication/logout">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login?redirectUri=/">Log in</a>
    </NotAuthorized>
</AuthorizeView>
